@{
    Layout = "~/Views/Shared/_Layout.cshtml";;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

        <h2>
            SRC Fitness Classes
        </h2>

        <hr />
        <style>
           
        #concerts {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #concerts td, #concerts th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #concerts tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #concerts tr:hover {
                background-color: #ddd;
            }

            #concerts th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #ff0000;
                color: white;
            }
   
        </style>




        <meta name="viewport" content="width=device-width" />

        
        <body bgcolor="green">

            <p>
                Why Group Fitness? Because the term aerobics just didn't reflect the diverse offering of classes now available. Classes for students and SRC members are free. Just check out the schedule and come to the classes you want. 24 classes each week in 11 different styles.
            </p>
            <h2>SRC Classes:</h2>
            <div class="row">
                <div class="col-lg-6">
                    <table id="concerts" style="width:200%">
                        <tbody>
                            <tr>
                                <th style="text-align: center; ">Sunday</th>
                                <th style="text-align: center; ">Monday</th>
                                <th style="text-align: center; ">Tuesday</th>
                                <th style="text-align: center; ">Wednesday</th>
                                <th style="text-align: center; ">Thursday</th>
                                <th style="text-align: center; ">Friday</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td><p style="text-align: center; ">6:45-7:30am<br> Sunrise Yoga<br> Room 201<br> Liz C.</p></td>
                                <td><p style="text-align: center; ">6:45-7:30am<br> Sunrise Yoga<br> Room 201<br> Liz P.</p></td>
                                <td><p style="text-align: center; ">6:45-7:30am<br> Cycling<br> Room 204<br> Savannah</p></td>
                                <td><p style="text-align: center; ">6:45-7:30am<br> Sunrise Yoga<br> Room 201<br> Liz P.</p></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><p style="text-align: center; ">8-8:45am<br> Cycling<br> Room 204<br> Cassidy</p></td>
                                <td><p style="text-align: center; ">6:45-7:30am<br> Sunrise Yoga<br> Room 201<br> Liz C.</p></td>
                                <td><p style="text-align: center; ">8-8:45am<br> Cycling<br> Room 204<br> Cassidy</p></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><p style="text-align: center; ">12-1:00pm<br> Vinyasa Flow<br> Room 201<br> Shanon</p></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><p style="text-align: center; ">5-5:30pm<br> Quick Fit: Upper Body<br> Room 200<br> Aysia</p></td>
                                <td><p style="text-align: center; ">5-5:30pm<br> Quick Fit: Cardio<br> Room 200<br> Madeline</p></td>
                                <td><p style="text-align: center; ">5-5:30pm<br> Hardcore Abs<br> Room 200<br> Shaela</p></td>
                                <td><p style="text-align: center; ">5-6:00pm<br> Cycling<br> Room 204<br> Grace</p></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><p style="text-align: center; ">5-6:00pm<br> Cycling<br> Room 204<br> Madeline</p></td>
                                <td><p style="text-align: center; ">6-6:45pm<br> Total Body Sculpt &amp; Tone<br> Room 200<br> Aysia</p></td>
                                <td><p style="text-align: center; ">5:45-6:45pm<br> Zumba<br> Room 200<br> Emily</p></td>
                                <td><p style="text-align: center; ">5-6:00pm<br> Recovery Yoga<br> Room 201<br> Shanon</p></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><p style="text-align: center; ">6-7:00pm<br> Power Yoga<br> Room 201<br> Liz P.</p></td>
                                <td><p style="text-align: center; ">6-6:45pm<br> Butts &amp; Guts<br> Room 200<br> Aysia</p></td>
                                <td><p style="text-align: center; ">6-7:00pm<br> BUTI Yoga<br> Room 201<br> Shanon</p></td>
                                <td><p style="text-align: center; ">5:45-6:30pm<br> Bro Yoga<br> Room 201<br> Liz C.</p></td>
                                <td><p style="text-align: center; ">6-7:00pm<br> Zumba<br> Room 200<br> Emily</p></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><p style="text-align: center; ">6-7:00pm<br> Yoga For Strength Training<br> Room 201<br> Dillon</p></td>
                                <td><p style="text-align: center; ">6-7:00pm<br> Cycling<br> Room 204<br> Madeline</p></td>
                                <td><p style="text-align: center; ">6-6:45pm<br> TRX Circuit<br> Room 204<br> Cassidy</p></td>
                                <td><p style="text-align: center; ">6:15-7:15pm<br> Yoga w/HIIT<br> Room 201<br> Dillon</p></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><p style="text-align: center; ">6:15-7:15pm<br> Cycling<br> Room 204<br> Grace</p></td>
                                <td><p style="text-align: center; ">7:15-8:15pm<br> Zumba<br> Room 201<br> Emily</p></td>
                                <td><p style="text-align: center; ">8:30-9:30pm<br> Cycling<br> Room 204<br> Cassidy</p></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-6">
                    <div id='map' style='width: 550px; height: 450px;'></div>
                </div>

            </div>
            <h2>Fitness Class Descriptions</h2>
            <p class="Default"><b>Butts &amp; Guts: </b>Exercises in this 45 minute toning class are dedicated to strengthening and tightening your abs and lower body! Using primarily bodyweight exercises, this workout will focus on training for your core, glutes, legs and lower back.</p>
            <p><b>Cycling:</b> Looking to torch calories? Look no further than this intense, cardiovascular workout. Our motivating instructors guide you through a structured ride to improve your fitness level, up your metabolism, and sharpen your mind-body connection. All students should arrive at least five minutes early to correctly set up their bike. Please bring water. All levels are welcome.</p>
            <p><b>Hard Core Abs: </b>This 45 minute class focuses on strengthening the core muscles utilizing your own body weight, bands, stability balls and Bosu trainers. This class will be challenging for the novice athlete yet can be modified to challenge the well-conditioned athlete.</p>
            <p><b>Quick Fit: Cardio &amp; Abs: </b>This 30 minute class will challenge and strengthen your core while improving your cardiovascular fitness. You will use tubing, Bosu trainers, stability balls and calisthenics for resistance to work your abs using fast-paced, upbeat music that will leave you tired yet coming back for more.</p>
            <p><b>Zumba: </b>This is a 1 hour fast-paced, high-energy dance class choreographed to today’s top hits and Latin music using the latest dance moves. You’ll have so much fun you will forget you are exercising. </p>
            <p><b>Power Yoga: </b>This one hour yoga class flows continuously with great emphasis on linking together every movement to the breath. Power yoga builds strength, stamina, flexibility and tones the body. No need to bring anything to class except a positive attitude, mats are provided. </p>
            <p><b>Flow Yoga: </b>This one hour yoga class focuses on basic poses, breathing and alignment and linking all three together in a fluid manner. Instructions will be given to go deeper into each posture but are optional so that all experience levels are welcome and will be accommodated.</p>
            <p><b>Vinyasa Flow Yoga: </b>This 1 hour yoga class flows continuously with great emphasis on linking together every movement to breath to build strength, stamina, flexibility and tone the body. <b> </b></p>
            <p><b>BUTI Yoga: </b>Dance + Yoga! Buti, in Indian Marathi, means "the cure to something hidden or kept secret." This practice is a high-intensity fusion of yoga, tribal dance, and plyometrics. Classes combine cardio, strength training and flexibility in one seamless format. Buti creates a strong, empowered group that resembles a tribe.</p>
            <p><b>Yoga with HIIT (YOD): </b>YOD™️ stands for “Your Own Determination." Classes begin with a power vinyasa yoga warm-up and then transitions to high-intensity interval training (HIIT) and skill work to train your body in a new way and enhance your yoga practice. Before each class begins, there will be a short explanation and demonstration of the HIIT exercises. All YOD classes end with a yoga cool down and the sweetest savasana accompanied with a cold lavender towel. This class is taught by teachers specially certified in YOD</p>
            <p><b>Total Body Sculpt and Tone: </b>This is a sculpting class that builds muscle, strength and endurance using equipment including free weights, body bars, medicine balls, stability balls and more. It combines cardio exercises that will elevate your heart rate with strength exercises that will target all major muscle groups.</p>
            <p><strong>Sunrise Yoga</strong>: Relax and de-stress with a class that is designed to ease tension in the body and mind, as well as give you a jump-start to your day. The class will focus on flexibility, strength, and balance and welcomes all levels.</p>
            <p><strong>Recovery Yoga</strong>: This class is designed to aid the body in recovering after physical activity. It combines deep stretching and mobility poses to combat tight and sore muscles. Perfect for athletes, lifters, and anyone needing to release muscular tension in the body.</p>
            <p><strong>TRX Circuit</strong>: This class is done as a circuit, moving from exercise to exercise. Each session incorporates TRX suspension strength training combined with dynamic body weight exercises to strengthen, tone, and shred.</p>
            <p><strong>Bro Yoga</strong>: This is a 45-minute class geared towards men of all skill levels. (It is OK if you can't touch your toes). This class will focus on learning basic yoga poses and different breathing techniques to explore the mind, body, and soul.</p>
            <p><strong>Yoga For Strength Training</strong>: Designed for all levels who are looking to build physical and mental strength. Each powerful and challenging class will help you increase strength, stability, flexibility, balance, and body-awareness through healthy alignment and movement. Consider this class an "off-day" workout that doesn't feel like an "off-day". </p>

        </body>
</html>

 
